<launch>

  <rosparam>
    my_robo:
      # Publish all joint states -----------------------------------
      joint_state_controller:
        type: joint_state_controller/JointStateController
        publish_rate: 100  
  
      # Position Controllers ---------------------------------------
      joint1_position_controller:
        type: effort_controllers/JointPositionController
        joint: joint1
        pid: {p: 10.0, i: 0.0, d: 0.0}
  </rosparam>
  <!-- rosparam file="$(find my_robo_control)/config/my_robo_control.yaml" command="load"/ -->

  <node name="my_robo_control" pkg="my_robo_control" type="my_robo_control" 
        output="screen" ns="/my_robo"/>

  <node name="controller_spawner" pkg="controller_manager" 
        type="spawner" respawn="false"
	output="screen" ns="/my_robo" 
        args="joint_state_controller joint1_position_controller"/> 

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
        type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/my_robo/joint_states" />
  </node>

</launch>
