<launch>
 
  <node pkg="cv_camera" name="cv_camera" type="cv_camera_node" >
    <param name="rate" value="10.0" />
    <param name="image_width" value="320" /> 
    <param name="image_height" value="240" />
  </node>

  <!--<node pkg="mjpeg_server" name="mjpeg_server" type="mjpeg_server" >
    <param name="port" value="10000" />
  </node>-->
            
  <node pkg="pimouse_vision_control" name="test_to_face" type="test_to_face.py" output="screen" />
</launch>
