SUBSYSTEM=="tty", ATTRS{idVendor}=="2a03", SYMLINK+="ttyUSB0", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", SYMLINK+="ttyUSB0", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", SYMLINK+="ypspur", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="15d1", SYMLINK+="LRF", MODE="0666"
