<launch>
  <master auto="start"/>
  <arg name="laser" default="/scan"/>
  <arg name="cmd_vel" default="/diff_drive_controller/cmd_vel"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="a" default="0.0"/> <!-- yaw -->
  <arg name="map_file" default="$(find my_robo_2dnav)/map/willow_garage/map.yaml"/>
  
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
 
  <!--- Run AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen" args="/scan:=$(arg laser)">
    <rosparam file="$(find my_robo_2dnav)/params/amcl_params.yaml" command="load"/>
    <param name="initial_pose_x" value="$(arg x)"/>
    <param name="initial_pose_y" value="$(arg y)"/>
    <param name="initial_pose_a" value="$(arg a)"/>
  </node>
 
  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" args="/cmd_vel:=$(arg cmd_vel)">
    <rosparam file="$(find my_robo_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robo_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robo_2dnav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robo_2dnav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robo_2dnav)/params/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
