<launch>
    <include file="$(find my_robo_2dnav)/launch/move_base.launch">
        <arg name="map_file" value="$(find my_robo_2dnav)/map/B205/map.yaml"/> 
        <arg name="x" value="-3.276"/> 
        <arg name="y" value="0.168"/>         
        <arg name="a" value="-0.374"/>         
    </include>
</launch>
