<launch>
    <include file="$(find my_robo_2dnav)/launch/move_base.launch">
        <arg name="map_file" value="$(find my_robo_2dnav)/map/C205/map.yaml"/> 
        <arg name="x" value="-1.30"/> 
        <arg name="y" value="3.9"/>         
        <arg name="a" value="0.4"/>         
    </include>
</launch>
