<launch>
  <!-- setup robot -->
  <include file="$(find robot_launcher)/launch/setup_robot.launch"/>
  <include file="$(find my_robo_control)/launch/control_real.launch"/>
  <include file="$(find my_robo_2dnav)/launch/move_base_B205.launch"/>
  <include file="$(find my_robo_control)/launch/run.launch"/>
  <include file="$(find simple_goal_generator)/launch/goal_generator.launch"/>
  <include file="$(find robot_launcher)/launch/setup_ojigi.launch"/>
</launch>
