<launch>
    <!-- You can adjust the pose of laser-rangefinder here. Order of values: x y z yaw pitch roll. -->
  	<node pkg="tf" type="static_transform_publisher" name="laser_transform"
  	      args="$(optenv laserpos 0 0 0 0 0 0) hokuyo_link urg_laser_link 100">
	</node>
	
	<node pkg="urg_node" type="urg_node" name="urg_node" output="screen">
	      <param name="serial_port" value="/dev/LRF"/>
	      <param name="frame_id" value="urg_laser_link"/>
	      <remap from="scan" to="scan_raw"/>
	</node>
	
    <!-- laser filter -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" respawn="false" name="laser_filter"
          output="screen" args="/scan:=/scan_raw">
	      <rosparam file="$(find robot_launcher)/params/my_laser_config.yaml" command="load"/>
	      <remap from="scan_filtered" to="scan"/>
    </node>
</launch>

