<launch>
    <!-- launch ds4drv -->
    <node pkg="robot_launcher" type="ds4drv.sh" name="ds4drv"/>

	<!-- launch laser -->
	<include file="$(find robot_launcher)/launch/laser.launch"/>

    <!-- launch ypspur-coordinator -->
    <node pkg="robot_launcher" type="ypspur_coordinator.sh" name="ypspur_coordinator"
          args="$(find robot_launcher)/ypspur_params/yp-h29ki-3600-1.param"/>

    <!-- launch rosserial -->
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
	      <param name="_port" value="/dev/Arduino"/>
    </node>
    
    <node pkg="joy" name="ps4" type="joy_node"/>
    <node pkg="ps4remocon" name="remocon" type="ds4_2017-yama2.py">
      <remap from="cmd_vel" to="/diff_drive_controller/cmd_vel"/>
    </node>
</launch>

